<ul class="topic-tags">
  {% for tag in topic.tags %}
    <li class="label label-topic-tag label-topic-tag-{{ tag.replace(' ', '_') }}">
      <a href="/~{{ topic.group.path }}?tag={{ tag.replace(' ', '_') }}">{{ tag }}</a>
    </li>
  {% else %}
    <li class="label label-topic-tag">No tags</li>
  {% endfor %}
</ul>
